.detailsView-container {
  margin-top: 15px;
  position: relative;
}

.details-card {
  width: 90%;
  margin: 20px auto 0 auto;
  position: relative;
}

.OrgDetailsCard-container,
.MerchantDetailsCard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-top: 50px;
}

.MerchantDetailsCard-container {
  /* width: 58vw; */
  position: relative;
}

.add-group-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popover-container {
  margin-right: 3%;
}

@media (max-width: 400px) {
  .details-container,
  .detailsView-container,
  .details-card {
    width: 100%;
  }

  .add-group-btn {
    justify-content: center;
    margin-top: 15px;
  }

  .OrgGroupInfo-container {
    flex-direction: column;
  }
}
