.organizationsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.organization-header {
  width: 30%;
  font-family: Telugu Sangam MN;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.fuzzy-search{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: -100px;
  margin-bottom: 80px
}

