#OrgGroupTab-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#OrgGroupTab-card {
  width: 40%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  #OrgGroupTab-card {
    width: 100%;
  }
}

@media (max-width: 400px) {
  #OrgGroupTab-card {
    width: 100%;
  }
}
