/* .org-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

/* .org-address-container {
  border: 1px solid black;
} */

.org-details-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.org-address {
  margin: 5px auto;
  /* border: 1px solid black; */
}

.edit-icon-btn {
  position: absolute;
  top: 0;
  right: 39%;
}

/* Push edit icon far right corner of Card */

/* .edit-icon-btn {
  position: absolute;
  top: 0;
  right: 0;
} */

.contact-info-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.contact-info-edit-btn {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .edit-icon-btn {
    right: 30%;
  }
}

@media (max-width: 400px) {
  .org-details {
    display: flex;
    flex-direction: column;
  }

  .edit-icon-btn {
    right: 2%;
  }
}
