/* .org-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

/* .org-address-container {
  border: 1px solid black;
} */

.org-address {
  margin: 15px auto;
  /* border: 1px solid black; */
}

@media (max-width: 400px) {
  .org-details {
    display: flex;
    flex-direction: column;
  }
}
