.detailsOrg-container {
  margin-top: 15px;
  position: relative;
}

.OrgDetails-card {
  width: 88%;
  margin: 20px auto 0 auto;
  position: relative;
}

.OrgGroupInfo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-top: 50px;
}

.add-group-btn {
  /* display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0; */
  display: flex;
  justify-content: flex-end;
}

.add-group-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popover-container {
  margin-right: 3%;
}

.notes-card-container {
  position: relative;
}

.notes-card {
  position: absolute;
  width: 20%;
  /* left: 20px; */
  top: 20px;
}

.notes-container {
  max-height: 300px;
}

.orgNotes-container {
  overflow-wrap: break-word;
  overflow-y: auto;
  border: 1px solid rgb(218, 218, 218);
  max-height: 300px;
  padding-left: 25px;
}

@media (max-width: 400px) {
  .OrgDetails-container,
  .detailsOrg-container,
  .OrgDetails-card {
    width: 100%;
  }

  .add-group-btn {
    justify-content: center;
    margin-top: 15px;
  }

  .OrgGroupInfo-container {
    flex-direction: column;
  }
}
