/* .detailsOrg-container {
  display: flex;
  flex-direction: column;
} */

.OrgDetails-card {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .OrgDetails-container,
  .detailsOrg-container,
  .OrgDetails-card {
    width: 100%;
  }
}
