.notes-card-container {
  position: relative;
}

.notes-card {
  position: absolute;
  /* margin-left: 10vh; */
  width: 40vh;
  left: 60px;
  top: 0;
  /* border: 1px solid #273b91; */
}

.notes-container {
  max-height: 300px;
}

.orgNotes-container {
  overflow-wrap: break-word;
  overflow-y: auto;
  /* border: 1px solid rgb(218, 218, 218); */
  border: 1px solid #273b91;
  border-radius: 5px;
  max-height: 25vh;
  padding-left: 25px;
}

.notes-delete-btn:hover {
  color: red;
}

@media (max-width: 400px) {
  .notes-card-container {
    display: none;
  }
}