/* --------------------------------------------------------------------------------
PSG Logo image
-------------------------------------------------------------------------------- */
.psg-logo {
  display: flex;
  justify-content: center;
}
