/* --------------------------------------------------------------------------------
PSG Logo image
-------------------------------------------------------------------------------- */
.psg-logo {
  display: flex;
  justify-content: center;
}

.psg-logo img {
  /* height: 200px;
  width: 400px; */
  height: 150px;
  width: 300px;
}
