
  .organizationCard:hover {
    transform: scale(1.05);
    background-color: #F2F3FB;
    cursor: pointer;
  }
  
  .organizationCard {
    width: 250px;
    margin: 10px 15px;
    object-fit: cover;
    height: 400px;
  }
