.active_table_cell{
    border: 2px solid black; 
    width: 100px; 
    height: 30px; 
    padding: 0px;
    text-align: center !important;
}

.active_row:nth-child(even) {
    background-color: rgb(232, 232, 232);
}