#orgGroup-details-container {
  width: 30%;
  margin-top: 30px;
}

#orgGroup-details-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.group-info {
  margin-top: 15px;
}

#group-photo {
  height: 300px;
  width: 320px;
  object-fit: contain;
}

.no-photo-container {
  height: 300px;
  width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted rgb(96, 93, 93);
}

/* Style for OrgGroupTabs */
#OrgGroupTab-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 400px) {
  #orgGroup-details-container {
    width: 100%;
  }
}
