.group-info {
  margin-top: 15px;
}

#group-photo {
  height: 200px;
  width: 200px;
}

@media (max-width: 600px) {
  #modalContainer {
    width: 90vw; /* Adjust the width for smaller screens */
    max-width: 90vw; /* Adjust the maximum width for smaller screens */
  }
}
