#orgGroup-details-container {
  margin-top: 30px;
  height: 700px;
  width: 400px;
  padding: 10px;
}

#orgGroup-details-container:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.group-info {
  margin-top: 15px;
}

.no-photo-container {
  max-width: 100%; /* Allow the container to shrink as the screen size decreases */
  height: 225px; /* Maintain the aspect ratio */
  max-height: 225px; /* Set a maximum height if needed */
  width: 100%; /* Take up the full width of the parent container */
  object-fit: contain;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dadadc;
  border: 1px dotted rgb(96, 93, 93);
}

@media (max-width: 1000px) {
  #orgGroup-details-container {
    width: 100%;
  }
}

@media (max-width: 400px) {
  #orgGroup-details-container {
    width: 100%;
  }

  #orgGroup-details-container:hover {
    transform: none;
  }
}
