.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 25px 0 30px; */
  /* background-color: black; */
  margin: 100px auto 0 auto;
  overflow: hidden;
  width: 75%;
}

.nav a {
  text-decoration: none;
}

.logoPSG-container {
  position: aboslute;
  flex-grow: 1;
}

.logo-psg {
  position: absolute;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, -50%);
}

.navLink {
  display: inline-block;
  color: #273b91;
  /* background-color: black; */
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
}

/* .navLink:hover {
  background-color: #245cd6;
} */

#person-icon {
  color: #273b91;
}