.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 25px 0 30px; */
  /* background-color: black; */
  margin: 25px auto 0 auto;
  overflow: hidden;
  width: 80%;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #273b91;
  padding-left: 10px;
  margin: 0 auto;
}

.navLink {
  display: inline-block;
  color: #273b91;
  /* background-color: black; */
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #245cd6;
}
